@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  background-color: rgb(245, 246, 250);
  padding: 5.5rem 6rem 7rem 6rem;
}

.navBar {
  background-color: white;
  display: flex;
  padding: 2.5rem 2.5rem;
  gap: 3rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.navBar h1 {
  color: rgb(2, 144, 255);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.navBar ul {
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  gap: 3rem;
  padding: 0;
}

.navBar li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.19rem;
}

.navBar a {
  color: rgb(173, 170, 170);
  text-decoration-line: none;
}

.active {
  color: rgb(18, 18, 18) !important;
}

.mainContainer {
  background-color: rgb(250, 250, 250);
  padding: 3rem 5rem 7rem 5rem;
}

.booksContainer {
  background-color: rgba(250, 250, 250);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  border-bottom: 0.25rem solid #e8e8e8;
}

.booksContainer li {
  background-color: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid #e8e8e8;
  padding: 3rem;
  display: flex;
  gap: 1rem;
}

.gender {
  color: rgb(18, 18, 18);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  opacity: 0.5;
  margin: 0;
}

.container1 h2 {
  color: rgb(18, 18, 18);
  font-family: 'Roboto', serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  margin: 0.4rem 0;
}

.author {
  color: rgb(67, 134, 191);
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}

.buttonContainer {
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
}

.buttonContainer button {
  background-color: white;
  border: none;
  color: rgb(67, 134, 191);
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.buttonSeparator {
  height: 2rem;
  border: #e8e8e8 solid 0.1rem;
}

.container2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
}

.pushContainer {
  margin-left: auto;
}

.percentage {
  color: rgb(18, 18, 18);
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
}

.completed {
  margin-top: -3rem;
  margin-bottom: 3rem;
  color: rgb(18, 18, 18);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  opacity: 0.5;
}

.mainSeparator {
  border: #e8e8e8 solid 0.1rem;
  height: 7rem;
  margin: auto 3.688rem auto 4.938rem;
}

.chapter {
  color: rgb(18, 18, 18);
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.5;
}

.chapterNumber {
  color: rgb(18, 18, 18);
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -0.04rem;
  margin: -1rem 0 1rem 0;
}

.container3 button {
  background-color: rgb(2, 144, 255);
  color: white;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 0.8rem 2.4rem;
  border: white;
}

.formContainer h2 {
  color: rgb(136, 136, 136);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.018rem;
  padding-bottom: 1rem;
}

.form {
  display: flex;
  gap: 3rem;
  padding-bottom: 6rem;
}

.inputForm {
  width: 0;
  flex-grow: 1;
  border: rgb(232, 232, 232) 0.1rem solid;
  padding: 1rem 2rem;
  color: rgb(18, 18, 18);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.015rem;
  line-height: normal;
}

.inputForm:focus {
  border: rgb(2, 144, 255) 0.1rem solid;
  outline: none;
}

.inputForm::placeholder {
  color: #dad8d8;
}

.form button {
  background-color: rgb(2, 144, 255);
  color: white;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 1.2rem 1.2rem;
  border: white;
  line-height: normal;
}

.categories {
  padding: 3rem;
}

.categories h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.categories button {
  background-color: rgb(2, 144, 255);
  color: white;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 1.2rem 1.2rem;
  border: white;
  line-height: normal;
}
